{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Smrtr.Life Home</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'polls/pollstyle.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">

</head>
<body>
<h2>🐋 Welcome to smrtr.life ❤️</h2>
<br>
<img src="{% static 'polls/images/backgroundcat.jpeg' %}">
<br>
<a href="{% url 'polls:index' %}">Polls</a>
<br>
<a href="{% url 'admin:index' %}">Admin</a>
</body>
</html>